force-app/main/default/flows/Certification_Count_Active_Certifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Count_Active_certifications</name>
        <label>Count Active certifications</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>CertificationCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Active_Certifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_with_Roll_Up_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rollup_Variables</name>
        <label>Set Rollup Variables</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>SumofRenewalCost</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_certifications.Renewal_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewestDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewestDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OldestDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OldestDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_certifications</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Active_Certifications</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Active Certifications</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <assignNextValueToReference>currentItem_Filter_Active_Certifications</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Other_Certifications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Active_Certifications.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Active</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Active_certifications</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <formulas>
        <name>NewestDateFormula</name>
        <dataType>Date</dataType>
        <expression>

IF( ISBLANK({!NewestDate}), {!Loop_through_certifications.Date_Obtained__c},
IF( {!Loop_through_certifications.Date_Obtained__c} &gt; {!NewestDate}, {!Loop_through_certifications.Date_Obtained__c}, {!NewestDate}))</expression>
    </formulas>
    <formulas>
        <name>OldestDateFormula</name>
        <dataType>Date</dataType>
        <expression>

IF( ISBLANK({!OldestDate}), {!Loop_through_certifications.Date_Obtained__c},
IF( {!Loop_through_certifications.Date_Obtained__c} &lt; {!OldestDate}, {!Loop_through_certifications.Date_Obtained__c}, {!OldestDate}))</expression>
    </formulas>
    <interviewLabel>Certification -Count Active Certifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Certification - Roll up Certification Values</label>
    <loops>
        <name>Loop_through_certifications</name>
        <label>Loop through certifications</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Other_Certifications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Rollup_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filter_Active_Certifications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Other_Certifications</name>
        <label>Get Other Certifications</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_certifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Certification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_Roll_Up_Data</name>
        <label>Update Account with Roll Up Data</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certification_Count__c</field>
            <value>
                <elementReference>CertificationCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newest_Certification_Date__c</field>
            <value>
                <elementReference>NewestDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Oldest_Certification_Date__c</field>
            <value>
                <elementReference>OldestDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Renewal_Cost__c</field>
            <value>
                <elementReference>SumofRenewalCost</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Other_Certifications</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Certification__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CertificationCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Filter_Active_Certifications</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Certification__c</objectType>
    </variables>
    <variables>
        <name>NewestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>1900-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>OldestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2100-01-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>SumofRenewalCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
