force-app/main/default/flows/Opportunity_Send_Email_for_Working_Stage_and_Follow_up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_2_Days</name>
        <label>Send Email - 2 Days</label>
        <locationX>710</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Analytics_Record_2_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>PrimaryOrOldestContactDay2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Second_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_4_Days</name>
        <label>Send Email - 4 Days</label>
        <locationX>1238</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Analytics_Record_4_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>PrimaryOrOldestCOntactDay4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Third_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_6_Days</name>
        <label>Send Email - 6 Days</label>
        <locationX>1766</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Analytics_Record_6_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>PrimaryorOldestContactId6days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Third_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_8Days</name>
        <label>Send Email - 8Days</label>
        <locationX>2294</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Analytics_Record_8_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>PrimaryOrOldestContactDay8</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Fourth_Email.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Immediate_Email</name>
        <label>Send Immediate Email</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Analytics_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Find_Primary_or_Oldest_Contact.ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Immediate_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Validate_Email</name>
        <label>Validate Email</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Send_Immediate_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_are_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_or_Oldest_Contact.PrimaryorOldestContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Are Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_2_Days</name>
        <label>Validate Email - 2 Days</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Email_2_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Are_Null_2_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact_2_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Oldest_Contact_2_Days</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Are Null -2 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_4_Days</name>
        <label>Validate Email - 4 Days</label>
        <locationX>1106</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Email_4_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Are_Null_4_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_Contact_4_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Contact_4_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Are Null -4 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_6_Days</name>
        <label>Validate Email - 6 Days</label>
        <locationX>1634</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Email_6_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Are_Null_6_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oldest_Contact_6_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Contact_6_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Are Null -4 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Email_8_Days</name>
        <label>Validate Email - 8 Days</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Send_Email_8Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Found</defaultConnectorLabel>
        <rules>
            <name>Both_Emails_Are_Null_8_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact_8_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Oldest_Contact_8_Days.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Both Emails Are Null -8 Days</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PrimaryOrOldestContact</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(null),null,null)</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactDay2</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Primary_Contact_2_Days.Id}) ,  {!Get_Oldest_Contact_2_Days.Id} ,{!Get_Primary_Contact_2_Days.Id})</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestCOntactDay4</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Primary_Contact_4_Days.Id}) ,  {!Get_Oldest_Contact_4_Days.Id} ,{!Get_Primary_Contact_4_Days.Id})</expression>
    </formulas>
    <formulas>
        <name>PrimaryOrOldestContactDay8</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Primary_Contact_8_Days.Id}) ,  {!Get_Oldest_Contact_8_Days.Id} ,{!Get_Primary_Contact_8_Days.Id})</expression>
    </formulas>
    <formulas>
        <name>PrimaryorOldestContactId6days</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK( {!Get_Primary_Contact_6_Days.Id} ) ,{!Get_Oldest_Contact_6_Days.Id}, {!Get_Primary_Contact_6_Days.Id} )</expression>
    </formulas>
    <interviewLabel>Opportunity - Send Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Send Email for Working Stage and Follow up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Analytics_Record</name>
        <label>Create Analytics Record</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Email for Working Stage and Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.08</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Analytics_Record_2_Days</name>
        <label>Create Analytics Record - 2 Days</label>
        <locationX>710</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Email for Working Stage and Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.08</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Analytics_Record_4_Days</name>
        <label>Create Analytics Record - 4 Days</label>
        <locationX>1238</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Email for Working Stage and Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.08</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Analytics_Record_6_Days</name>
        <label>Create Analytics Record - 6 Days</label>
        <locationX>1766</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Email for Working Stage and Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.08</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Analytics_Record_8_Days</name>
        <label>Create Analytics Record - 8 Days</label>
        <locationX>2294</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Automation_Name__c</field>
            <value>
                <stringValue>Opportunity - Send Email for Working Stage and Follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hours_Saved__c</field>
            <value>
                <numberValue>0.08</numberValue>
            </value>
        </inputAssignments>
        <object>Automation_Analytics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Fifth_Email</name>
        <label>Get Fifth Email</label>
        <locationX>2162</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_8_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Follow_Up_Email_4_1729492353854</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fourth_Email</name>
        <label>Get Fourth Email</label>
        <locationX>1634</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_6_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Follow_Up_Email_3_1729492341062</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Immediate_Email_Template</name>
        <label>Get Immediate Email Template</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Primary_or_Oldest_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Immediate_Email_1_1729492216275</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_Contact_2_Days</name>
        <label>Get Oldest Contact -2 Days</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Email_2_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_Contact_4_Days</name>
        <label>Get Oldest Contact -4 Days</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Email_4_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_Contact_6_Days</name>
        <label>Get Oldest Contact -6 Days</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Email_6_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oldest_Contact_8_Days</name>
        <label>CGet Oldest Contact -8 Days</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Email_8_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_2_Days</name>
        <label>Get Primary Contact - 2 Days</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Contact_2_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_4_Days</name>
        <label>Get Primary Contact - 4 Days</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Contact_4_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_6_Days</name>
        <label>Get Primary Contact - 6 Days</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Contact_6_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contact_8_Days</name>
        <label>Get Primary Contact - 8 Days</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oldest_Contact_8_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Roles__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Second_Email</name>
        <label>Get Second Email</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_2_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Follow_Up_Email_1_1729492294111</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Third_Email</name>
        <label>Get Third Email</label>
        <locationX>1106</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Primary_Contact_4_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity_Follow_Up_Email_2_1729492319142</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Stage_to_Closed_Lost</name>
        <label>Update Stage to Closed Lost</label>
        <locationX>2558</locationX>
        <locationY>276</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Immediate_Email_Template</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_Later</name>
            <connector>
                <targetReference>Get_Second_Email</targetReference>
            </connector>
            <label>2 Days Later</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Days_Later</name>
            <connector>
                <targetReference>Get_Third_Email</targetReference>
            </connector>
            <label>4 Days Later</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6_Days_Later</name>
            <connector>
                <targetReference>Get_Fourth_Email</targetReference>
            </connector>
            <label>6 Days Later</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X8_Days_Later</name>
            <connector>
                <targetReference>Get_Fifth_Email</targetReference>
            </connector>
            <label>8 Days Later</label>
            <offsetNumber>8</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Closed_Lost</name>
            <connector>
                <targetReference>Update_Stage_to_Closed_Lost</targetReference>
            </connector>
            <label>Closed Lost</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Find_Primary_or_Oldest_Contact</name>
        <label>Find Primary or Oldest Contact</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Validate_Email</targetReference>
        </connector>
        <flowName>SubFlow_Get_Primary_or_Oldest_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
