force-app/main/default/flows/Opportunity_Update_Opportunity_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Notes</name>
        <label>Assign Opportunity Notes</label>
        <locationX>484</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_opportunities.Opportunity_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedOpportunitesVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opportunities</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Opportunity-Update Opportunity Notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity-Update Opportunity Notes</label>
    <loops>
        <name>Loop_through_opportunities</name>
        <label>Loop through opportunities</label>
        <locationX>162</locationX>
        <locationY>329</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_Opportunity_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>128</locationX>
        <locationY>154</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Notes__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunity_Notes</name>
        <label>Update Related Opportunity  Notes</label>
        <locationX>3</locationX>
        <locationY>551</locationY>
        <inputReference>UpdatedOpportunitesVariable</inputReference>
    </recordUpdates>
    <start>
        <locationX>433</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Notes__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Notes__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdatedOpportunitesVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
